
<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/statistic">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/user">Usuários</a></li>
    <li class="breadcrumb-item active">{{ currentAction }}</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2">
      {{ currentAction }}
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="/user" class="btn btn-success float-right">
      Voltar
    </a>
  </div>
</div>

<form [formGroup]="userForm" (submit)="submit()">

  <div class="card">
    <div class="card-header">
      Informações da Beacon
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" formControlName="name">
          <div class="text-danger" *ngIf="userForm.get('name').invalid && userForm.get('name').touched">
            <small *ngIf="userForm.get('name').errors.required">Campo Obrigatório</small>
            <small *ngIf="userForm.get('name').errors.minlength">Mínimo 2 caracteres</small>
          </div>
        </div>

        <div class="form-group col-md-8">
          <label for="role">Nível</label>
          <input type="text" class="form-control" formControlName="role">
          <div class="text-danger" *ngIf="userForm.get('role').invalid && userForm.get('role').touched">
            <small *ngIf="userForm.get('description').errors.required">Campo Obrigatório</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages">
    <ul>
      <li *ngFor="let error of serverErrorMessages">
        {{ error }}
      </li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary float-right mt-3" [disabled]="submittingForm || userForm.invalid">
    Salvar
  </button>

</form>
